*{
    background: #fdffe5;
}
.product_card{
    width: 1800px;
    display: flex;
    justify-content: center;
}
.product_title {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 25px;
    margin:0 1000px;
}
.product_image{
    display: flex;
    justify-content: flex-end;
}

.wrap{
    width: 1800px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    }
.post_card{
    width: 20%;
    height: 300px;
    text-align: justify;

}